:root{
    --Red-Salsa:#F15152;
    --Midnight-Green:#1E555C;
    --Black-Coffee:#3A2E39;
    --Unbleached-Silk:#F4D8CD;
    --Middle-Yellow-Red:#EDB183;
}

body{
    background-color: lightgray;
    color: var(--Black-Coffee);
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    grid-template-rows: minmax(90px, 10%) 1fr 60px;
    height: 100vh;
    background-image: url("./book.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header, .footer{
    background-color: var(--Midnight-Green);
    color: var(--Unbleached-Silk);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(160px);
    opacity: 0.9;
}

.main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 400px;
    padding: 40px;
    gap:20px;
    justify-content: start;
    overflow-y: auto;

}

.card{
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding-bottom: 15px;
    
}

.inner{
    background-color: white;
    width: 250px;
    padding: 20px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    height: 275px;
}

.inner:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.bookOptions{
    padding-top: 10px;
    width: 250px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.fa-trash{
    color: var(--Unbleached-Silk);
    transition: 0.3s;
}

.fa-trash:hover{
    color: var(--Red-Salsa);
}